{
  "presets": [
      "@babel/react",
      [
        "@babel/preset-env",
        { "modules" : false }
      ]
    ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx", {
        "runtime": "classic"
      }
    ],
    [
      "@babel/plugin-transform-classes" 
    ]
  ]
}
