.dashboard-body {
    padding: 0 !important;
}
.dashboard-row .dashboard-panel {
    background: none !important;
    margin-top: 45px !important;
}
.dashboard-row .dashboard-panel .panel-body {
    overflow: visible !important;
}
.dashboard-row .dashboard-panel .panel-body.html {
    padding: 0 !important;
}
.dashboard-header h2 {
    margin: 0 10px;
}
.row {
    margin-top: 12px;
    margin-left: 0;
    background: #fff;
    border-bottom: 1px solid #d5d5d5;
}
span[id^="inputWrapper"] {
    float: left;
    margin-right: 10px;
}
label[class$="error"] {
    color: red;
}
input.error, textarea.error {
    border: 1px solid red;
}
span[id^="inputWrapper"] .select2-container {
    width: 219px !important;
}
.splunk-choice-input {
    padding-bottom: 0 !important;
}
.form-group {
    clear: both;
}
#submitData {
    margin: 0 !important;
}
/*Table*/
#lookupTable tr.status-warning td {
    background-color: orangered !Important;
    color: white !Important;
}
#lookupTable tr.status-past td {
    background-color: orange !Important;
    color: white !Important;
}
#alwaysSuppress {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: orangered;
}
#inPast {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: orange;
}
#addNewRow {
    float: right;
    margin: 0 10px;
}
input.search-query {
    width: 200px;
    margin: 0 10px;
}
p.loading {
    text-align: center !Important;
}
#bhTable_info {
    padding: 10px 25px;
}
#bhTable_paginate {
    padding: 0 25px;
}
#bhTable_paginate a.disabled {
    cursor: default !important;
    color: #ccc !important;
}
#bhTable_paginate a.disabled:hover {
    text-decoration: none !important;
}
#bhTable_paginate a.previous {
    margin-right: 5px;
}
#bhTable_paginate a.next {
    margin-left: 5px;
}
#bhTable_paginate a.current {
    text-decoration: underline !important;
}
#bhTable_paginate span a.paginate_button {
    margin: 0 5px;
}
#emptyKVNotice {
    padding: 0 10px;
}
table.dataTable td.reorder {
    text-align: left !Important;
}
.table-chrome.table-striped>tbody>tr.odd>td.reorder {
    background-color: #f5f5f5;
}
.table-chrome.table-striped>tbody>tr.even>td.reorder {
    background-color: #d8d8d8;
}
.notice {
    margin: 0 15%;
    position: absolute;
}
.notice p.restored {
    margin: 0;
    padding: 5px 12px !important;
    color: #fff;
    background-color: #ca3b3b;
}
.updating {
    padding: 5px 200px 0 !important;
}
.updating>i {
    color: green;
}
.modal .modal-body {
    height: 450px !important;
    overflow: scroll !important;
}
.disabled {
   pointer-events: none;
   cursor: default;
   color: #7a7a7a;
}
.modal-shown {
    overflow: hidden;
}