<script type="text/x-template" id="bhTable-template">
            <button id="addNewRow" class="btn btn-primary">Add New Suppression</button>

            <div id="bhError" class="fixed-error">
                <p></p>
            </div>

            <div id="pageSelection" class="select-page-count">
                <div class="control btn-group shared-dataenrichment-preview-components-selectpagecount control-default pull-right">
                    <a class="dropdown-toggle btn-pill pageDropDown" data-toggle="dropdown">
                        <%- per_page %> per page
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" style="width: 120px;margin-left: -38px;margin-top: 2px;">
                        <div class="arrow"></div>
                        <ul>
                            <li><a href="#" class="per-page" data-page-count="10">10 per page</a></li>
                            <li><a href="#" class="per-page" data-page-count="20">20 per page</a></li>
                            <li><a href="#" class="per-page" data-page-count="50">50 per page</a></li>
                            <li><a href="#" class="per-page" data-page-count="100">100 per page</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="notice-error">
                <% if(restored) { %>
                    <p class="restored">KV Store was empty. Restored from backup...</p>
                <% } %>
            </div>
            <div class="notice">
                <p class="updating" style="display:none;">
                    <i class="icon-circle-filled"></i> Updating KV Store. Do not refresh page.
                </p>
            </div>
            <% if(suppressions.length === 0 && !backup_available) { %>
                <div id="emptyKVNotice">
                    <p>Your Broken Hosts KV Store is empty.
                        <button id="populateDefault" class="btn btn-primary">
                            Populate with Default Values
                        </button>
                    </p>
                </div>
            <% } else if (backup_available) { %>
                <div id="backupNotice">
                    <p>Looks like your KV Store is empty! A backup of your most recent saved version is available.
                        <button id="populateBackup" class="btn btn-primary">
                            Use Backup
                        </button>
                        <a id="closeNotificationBtn" class="pull-right" href="#">
                            x
                        </a>
                    </p>
                </div>
            <% } %>
            <table cellpadding="0" cellspacing="0" border="0"
                   class="table table-chrome table-striped display dataTable"
                   id="bhTable">
                <thead>
                    <tr role="row">
                        <th>Key</th>
                        <th>Comments</th>
                        <th>Contact</th>
                        <th>Index</th>
                        <th>Sourcetype</th>
                        <th>Host</th>
                        <th>Late Seconds</th>
                        <th>Suppress Until</th>
                        <th>Edit</th>
                        <th>Remove</th>
                        <th>Copy</th>
                    </tr>
                </thead>
                <tbody>
                        <% for (var i = 0; i < suppressions.length; i++) { %>
                            <tr id="row-<%- i %>">
                                <td class="reorder"><%- suppressions[i].key %></td>
                                <td><%- suppressions[i].comments %></td>
                                <td><%- suppressions[i].contact %></td>
                                <td><%- suppressions[i].index %></td>
                                <td><%- suppressions[i].sourcetype %></td>
                                <td><%- suppressions[i].host %></td>
                                <td><%- suppressions[i].lateSecs %></td>
                                <td><%- suppressions[i].suppressUntil %></td>
                                <td><a class="edit" href="#"><%- suppressions[i].Edit %></a></td>
                                <td><a class="remove" href="#"><%- suppressions[i].Remove %></a></td>
                                <td><a class="clipboard" data-clipboard-target="#row-<%- i %>" href="#">Copy</a></td>
                            </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
</script>

<div id="bh-content">
    <div class="loading-placeholder">
        Retrieving data...

        <div class="progress">
          <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
</div>
