<div id="pivotModal" class="modal">
    <div class="modal-header">
        <h3>Edit</h3><button class="close">Close</button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="hostSelector">Select a Host</label>
            <span id="inputWrapper_hostSelector">
                <!-- default disabled field before loading in DropdownView component --->
                 <select class="form-control" id="hostSelector" disabled></select>
            </span>
            <input type="text" id="host" name="host" value="<%- host %>"/>
            <p class="help-block">Use dropdown to ensure host exists.</p>
        </div>

        <div class="form-group">
            <label for="indexSelector">Select an Index</label>
            <span id="inputWrapper_indexSelector">
                <!-- default disabled field before loading in DropdownView component --->
                 <select class="form-control" id="indexSelector" disabled></select>
            </span>
            <input type="text" id="index" name="index" value="<%- index %>"/>
            <p class="help-block">Use dropdown to ensure index exists.</p>
        </div>

        <div class="form-group">
            <label for="sourcetypeSelector">Select a Sourcetype</label>
            <span id="inputWrapper_sourcetypeSelector">
                <!-- default disabled field before loading in DropdownView component --->
                 <select class="form-control" id="sourcetypeSelector" disabled></select>
            </span>
            <input type="text" id="sourcetype" name="sourcetype" value="<%- sourcetype %>"/>
            <p class="help-block">Use dropdown to ensure sourcetype exists.</p>
        </div>

        <div class="form-group">
            <label for="lateSecs">Late Seconds</label>
            <input type="text" id="lateSecs" name="lateSecs" value="<%- lateSecs %>"/>
            <p class="help-block">How many seconds late this can be before alerting.</p>
        </div>

        <div class="form-group">
            <label for="suppressUntil">Suppress Until</label>
            <input type="text" id="suppressUntil" name="suppressUntil" value="<%- suppressUntil %>"/>
        </div>

        <div class="form-group">
            <label for="hostSelector">Add Contacts</label>
            <input type="text" id="contact" name="contact" value="<%- contact %>"/>
            <p class="help-block">May be a comma delimited list of emails.</p>
        </div>

        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea id="comments" name="comments" style="width: 96%; display: block; height: 50px;"><%- comments %></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button id="submitData" class="btn btn-primary" style="display: block; margin: 0 11px;">Update</button>
    </div>
</div>
<div class="modal-backdrop"></div>