<div id="pivotModal" class="modal">
    <div class="modal-header">
        <% if(mode==='Edit') { %>
            <h3>Edit Suppression</h3><button class="close">Close</button>
        <% } else { %>
            <h3>New Suppression</h3><button class="close">Close</button>
        <% } %>
    </div>
    <div class="modal-body">
        <form id="brokenHostForm">
            <div class="form-group">
                <label for="indexSelector">Select an Index</label>
                <span id="inputWrapper_indexSelector">
                    <!-- default disabled field before loading in DropdownView component --->
                     <select class="form-control" id="indexSelector" disabled></select>
                </span>
                <input type="text" id="index" name="index" value="<%- index %>" autocomplete="false"/>
                <p class="help-block">Use dropdown to ensure index exists.</p>
            </div>

            <div class="form-group">
                <label for="sourcetypeSelector">Select a Sourcetype</label>
                <span id="inputWrapper_sourcetypeSelector">
                    <!-- default disabled field before loading in DropdownView component --->
                     <select class="form-control" id="sourcetypeSelector" disabled></select>
                </span>
                <input type="text" id="sourcetype" name="sourcetype" value="<%- sourcetype %>" autocomplete="false"/>
                <p class="help-block">Use dropdown to ensure sourcetype exists.</p>
            </div>

            <div class="form-group single_host_component" id="hostFormGroup">
                <label for="hostSelector">Select a Host</label>
                <span id="inputWrapper_hostSelector">
                    <!-- default disabled field before loading in DropdownView component --->
                     <select class="form-control" id="hostSelector" disabled></select>
                </span>
                <input type="text" id="host" name="host" value="<%- host %>" autocomplete="false"/>
                <p class="help-block">Use dropdown to ensure host exists.</p>
            </div>

            <div class="form-group">
                <p class="help-block single_host_component"><a id="showBulkHostLink" href="#">Add Hosts In Bulk</a></p>
                <p class="help-block bulk_host_component" style="display: none;"><a id="hideBulkHostLink" href="#">Add Only One Host</a></p>
            </div>

            <% if(mode!=='Edit') { %>
            <fieldset id="bulkHostWrapper" class="outline bulk_host_component" style="display: none;">
                <div class="form-group">
                    <label for="bulkHosts">Add a List of Hosts</label>
                    <textarea name="bulkHosts" id="bulkHosts" rows="10" cols="5" style="width: 96%; display: block;"></textarea>
                </div>
                <div class="form-group">
                    <label for="lateSecs">Delimiter</label>
                    <input type="text" id="delimiter" name="delimiter" value="<%- delimiter %>" autocomplete="false"/>
                    <p class="help-block">Optionally provide a delimiter for each host. Default is a newline.</p>
                </div>
                <div id="exampleBulkResults"></div>
            </fieldset>
            <% } %>

            <div class="form-group">
                <label for="lateSecs">Late Seconds</label>
                <input type="text" id="lateSecs" name="lateSecs" value="<%- lateSecs %>" autocomplete="false"/>
                <p class="help-block">Use seconds or SPL relative time format. 0 means Always Suppress.</p>
            </div>

            <div class="form-group">
                <label for="suppressUntil">Suppress Until</label>
                <input type="text" id="suppressUntil" name="suppressUntil" value="<%- suppressUntil %>" autocomplete="false"/>
                <p class="help-block">0 means No Suppression</p>
            </div>

            <div class="form-group">
                <label for="contacts">Add Contacts</label>
                <input type="text" id="contact" name="contact" value="<%- contact %>" autocomplete="false"/>
                <p class="help-block">May be a comma delimited list of emails.</p>
            </div>

            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea id="comments" name="comments" style="width: 96%; display: block; height: 50px;"><%- comments %></textarea>
                <p class="help-block">Be sure to include a ticket number e.g. #12345</p>
            </div>

            <div class="form-group">
                <input type="submit" id="submitData" class="btn btn-primary"
                       value="Submit" style="display: block; margin: 0 11px; display: inline-block;" />
                <input type="submit" id="viewBulkHostData" class="btn btn-secondary bulk_host_component"
                       value="View Bulk Data Sample" style="display: none;" />
            </div>

        </form>

    </div>

</div>
<div class="modal-backdrop"></div>
